* {
    margin: 0;
    padding: 0;
}

.legenda {
    font-size: 16px;
    font-weight: 600;
    color: rgb(68, 68, 68);
}

.botoes button{
    width: 200px ;
}

.table-contribuintes {
    min-width: 508px !important;
}

.table-contribuintes>tbody>tr>td {
    text-align: center;
}

.table-contribuintes>thead>tr>th{
    text-align: center;
}

.nome {
    text-align: left !important;
}